# ==============================================================================
# 🔐 CONFIGURATION DES ENVIRONNEMENTS — PROJET CLINIC-NER MLOPS
# ==============================================================================

# ------------------------------------------------------------------------------
# 1. AWS CLOUD (IAM, S3 Data Lake & FinOps EC2 GPU)
# ------------------------------------------------------------------------------
AWS_ACCESS_KEY_ID="<VOTRE_AWS_ACCESS_KEY_ID>"
AWS_SECRET_ACCESS_KEY="<VOTRE_AWS_SECRET_ACCESS_KEY>"
AWS_DEFAULT_REGION="eu-west-3"
S3_BUCKET_NAME="cliner-clinical-storage-dev"
AWS_EC2_GPU_INSTANCE_ID="i-09f18a47bce42gpu"

# Mettre à 'false' uniquement si vous voulez allumer une VRAIE machine EC2 payante
MOCK_AWS_EC2="true"

# ------------------------------------------------------------------------------
# 2. SUPABASE (Base de Données Vectorielle pgvector & Cache)
# ------------------------------------------------------------------------------
SUPABASE_DATABASE_URL="postgresql://postgres.<PROJECT_REF>:<PASSWORD_URL_ENCODED>@aws-0-eu-west-1.pooler.supabase.com:6543/postgres"
SUPABASE_API_URL="https://<PROJECT_REF>.supabase.co"
SUPABASE_ANON_KEY="<VOTRE_SUPABASE_ANON_KEY>"

# ------------------------------------------------------------------------------
# 3. BACKEND & MLFLOW MONITORING
# ------------------------------------------------------------------------------
BACKEND_API_URL="http://localhost:8000"
# MLflow Tracking URI :
# - En local : sqlite:///mlflow.db (par défaut si non renseigné)
# - En Full Cloud (Cloud Run) : https://<VOTRE_SERVICE_MLFLOW>.a.run.app
MLFLOW_TRACKING_URI="https://<VOTRE_SERVICE_MLFLOW>.a.run.app"

# ------------------------------------------------------------------------------
# 4. MODÈLES DE SECOURS (Optionnel)
# ------------------------------------------------------------------------------
GOOGLE_API_KEY=""
LLM_MODEL_NAME="gemini-flash-lite-latest"

