.env
*accessKeys.csv
*.csv
*.pem
*.key
__pycache__/
*.pyc
.pytest_cache/
mlflow.db
mlruns/
.terraform/
*.tfstate
*.tfstate.backup
*.safetensors
docs/*
!docs/*.md
_scratch_scripts/
models/
data/
*.zip
*.log
*.lnk
*.bat
*.txt
!requirements*.txt
!requirements_*.txt
_scripts/
scripts/